<h3>Here are restaurants near <%= @address %>:</h3>

<br>
<div class="container">

  <% @results.first(5).shuffle.each do |result| %>

  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <% if Restaurant.find_by( {:placeid => result["place_id"]}) == nil %>
              <%= result["name"].camelize %>
            <% else %>
              <a href="/restaurants/<%= Restaurant.find_by( {:placeid => result["place_id"]}).id %>"><%= result["name"].camelize %></a>
            <% end %>
            <small>
              <% if result["opening_hours"]["open_now"] == true %>
              Open now
              <% else %>
              Closed right now
              <% end %>
            </small>
          </h3>
        </div>

        <div class="panel-body">
          <% if result["photos"] == nil %>
          <div class="well well-sm">Image not yet available</div>
          <% elsif Restaurant.find_by( {:placeid => result["place_id"]}) == nil %>
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=600&maxheight=600&photoreference=<%= result["photos"][0]["photo_reference"] %>&key=AIzaSyAuo4_mSeoT40F-4QAP8uyTvCdw8c7cbvU" class="img-responsive">
          <% else  %>
          <a href="/restaurants/<%= Restaurant.find_by( {:placeid => result["place_id"]}).id %>">
            <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=600&maxheight=600&photoreference=<%= result["photos"][0]["photo_reference"] %>&key=AIzaSyAuo4_mSeoT40F-4QAP8uyTvCdw8c7cbvU" class="img-responsive">
          </a>
          <% end %>
          <p>
            <div class="form control">
            <% if Restaurant.find_by( {:placeid => result["place_id"]}) == nil %>
              <i class="fa fa-heart-o"></i>
            <% elsif Restaurant.find_by( {:placeid => result["place_id"]}).fans.count == 0 %>
              <i class="fa fa-heart-o"></i>
            <% else %>
                <i class="fa fa-heart"></i>
            </form>
            <% end %>

            <% if Restaurant.find_by( {:placeid => result["place_id"]}) == nil %>
              Nobody has pinned this restaurant yet
            <% elsif Restaurant.find_by( {:placeid => result["place_id"]}).fans.count == 0 %>
              Nobody has pinned this restaurant yet
            <% elsif Restaurant.find_by( {:placeid => result["place_id"]}).fans.count == 1 %>
              <%= Restaurant.find_by( {:placeid => result["place_id"]}).fans.all.pluck(:username).to_sentence %> has pinned this restaurant
            <% else %>
              <%= Restaurant.find_by( {:placeid => result["place_id"]}).fans.all.pluck(:username).to_sentence %> have pinned this restaurant
            <% end %>
          </div>
          </p>

          <p>
            <div>
              <% if result["price_level"] == nil %>
              <div class="well well-sm">Price level not yet available</div>
              <% else %>
              <h6>Price level: <%= result["price_level"] %></h6>
              <% end %>
              <% if result["rating"] == nil %>
              <div class="well well-sm">Rating not yet available</div>
              <% else %>
              <h6>Rating: <%= result["rating"] %></h6>
              <% end %>
            </div>

            <% if current_user.favourite_restaurants.find_by({:placeid => result["place_id"]}) == nil %>
            <form action="/create_restaurant" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
              <input type="hidden" id="name" name="name" value="<%= result["name"] %>">
              <input type="hidden" id="price_level" name="price_level" value="<%= result["price_level"] %>">
              <input type="hidden" id="rating" name="rating" value="<%= result["rating"] %>">
              <input type="hidden" id="latitude" name="latitude" value="<%= result["geometry"]["location"]["lat"] %>">
              <input type="hidden" id="longitude" name="longitude" value="<%= result["geometry"]["location"]["lng"] %>">
              <% if result["photos"] == nil %>
              <input type="hidden" id="photo_reference" name="photo_reference" value="missing">
              <% else %>
              <input type="hidden" id="photo_reference" name="photo_reference" value="<%= result["photos"][0]["photo_reference"] %>">
              <% end %>
              <input type="hidden" id="placeid" name="placeid" value="<%= result["place_id"] %>">

              <div class="form-group">
                <button class="btn btn-primary">
                  Pin
                </button>
              </div>
            </form>
            <% else %>
            <div class="form-group">
              <a href="/delete_favorite/<%= current_user.favourite_restaurants.find_by({:placeid => result["place_id"]}).id %>" class="btn btn-danger">Unpin</a>
            </div>
            <% end %>



          </p>
        </div>

      </div>
    </div>
  </div>


  <% end %>

</div>
