<head>
<style>
.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#000000;
  padding:0;
  text-decoration:none;
  font-family:inherit;
  font-size:inherit;
}
.btn-link:hover{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#000000;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}


</style>
</head>


<div class="container">

<div class="row">
<div class="col-md-6 col-md-offset-2">
  <div class="jumbotron">
    <h4>Restaurants near <span class="lead"><%= @address %>:</span></h4>
  </div>
</div>
</div>

<br>

  <% @results.shuffle.first(5).each do |result| %>

  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <% if Restaurant.find_by( {:placeid => result["place_id"]}) == nil %>

            <form action="/create_restaurant" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
              <input type="hidden" id="name" name="name" value="<%= result["name"] %>">
              <input type="hidden" id="price_level" name="price_level" value="<%= result["price_level"] %>">
              <input type="hidden" id="rating" name="rating" value="<%= result["rating"] %>">
              <input type="hidden" id="latitude" name="latitude" value="<%= result["geometry"]["location"]["lat"] %>">
              <input type="hidden" id="longitude" name="longitude" value="<%= result["geometry"]["location"]["lng"] %>">
              <% if result["photos"] == nil %>
              <input type="hidden" id="photo_reference" name="photo_reference" value="missing">
              <% else %>
              <input type="hidden" id="photo_reference" name="photo_reference" value="<%= result["photos"][0]["photo_reference"] %>">
              <% end %>
              <input type="hidden" id="placeid" name="placeid" value="<%= result["place_id"] %>">
              <input type="hidden" id="actiontype" name="actiontype" value="store">
              <button class="btn-link"><%= result["name"].camelize %></button>

            <% else %>
            <a href="/restaurants/<%= Restaurant.find_by( {:placeid => result["place_id"]}).id %>"><%= result["name"].camelize %></a>
            <% end %>
              <% if result["opening_hours"] == nil %>
              <% elsif result["opening_hours"]["open_now"] == true %>
              <small style="color:#828282">Open now</small>
              <% else %>
              <small style="color:#828282">Closed right now</small>
              <% end %>
          </h3>
        </form>
        </div>

        <div class="panel-body">
          <% if result["photos"] == nil %>
          <div class="well well-sm">Image not yet available</div>
          <% elsif Restaurant.find_by( {:placeid => result["place_id"]}) == nil %>

          <form action="/create_restaurant" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" id="name" name="name" value="<%= result["name"] %>">
            <input type="hidden" id="price_level" name="price_level" value="<%= result["price_level"] %>">
            <input type="hidden" id="rating" name="rating" value="<%= result["rating"] %>">
            <input type="hidden" id="latitude" name="latitude" value="<%= result["geometry"]["location"]["lat"] %>">
            <input type="hidden" id="longitude" name="longitude" value="<%= result["geometry"]["location"]["lng"] %>">
            <% if result["photos"] == nil %>
            <input type="hidden" id="photo_reference" name="photo_reference" value="missing">
            <% else %>
            <input type="hidden" id="photo_reference" name="photo_reference" value="<%= result["photos"][0]["photo_reference"] %>">
            <% end %>
            <input type="hidden" id="placeid" name="placeid" value="<%= result["place_id"] %>">
            <input type="hidden" id="actiontype" name="actiontype" value="store">

          <button class="btn-link"><img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=600&maxheight=600&photoreference=<%= result["photos"][0]["photo_reference"] %>&key=AIzaSyAuo4_mSeoT40F-4QAP8uyTvCdw8c7cbvU" class="img-responsive"></button>
          </form>
          <% else  %>
          <a href="/restaurants/<%= Restaurant.find_by( {:placeid => result["place_id"]}).id %>">
            <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=600&maxheight=600&photoreference=<%= result["photos"][0]["photo_reference"] %>&key=AIzaSyAuo4_mSeoT40F-4QAP8uyTvCdw8c7cbvU" class="img-responsive">
          </a>
          <% end %>
          <p>
            <div class="form control">
              <% if Restaurant.find_by( {:placeid => result["place_id"]}) == nil %>
              <i class="fa fa-heart-o"></i>
              <% elsif Restaurant.find_by( {:placeid => result["place_id"]}).fans.count == 0 %>
              <i class="fa fa-heart-o"></i>
              <% elsif Restaurant.find_by( {:placeid => result["place_id"]}).fans.count == 1 %>
              <i class="fa fa-heart"></i>
              <% elsif Restaurant.find_by( {:placeid => result["place_id"]}).fans.count == 2 %>
              <i class="fa fa-heart"></i> <i class="fa fa-heart"></i>
              <% elsif Restaurant.find_by( {:placeid => result["place_id"]}).fans.count == 3 %>
              <i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i>
              <% else %>
              <i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-plus"></i>
            <% end %>

            <% if Restaurant.find_by( {:placeid => result["place_id"]}) == nil %>
            &nbsp;&nbsp;Nobody has pinned this restaurant yet
            <% elsif Restaurant.find_by( {:placeid => result["place_id"]}).fans.count == 0 %>
            &nbsp;&nbsp;Nobody has pinned this restaurant yet
            <% elsif Restaurant.find_by( {:placeid => result["place_id"]}).fans.count == 1 %>
            &nbsp;&nbsp;1 person has pinned this restaurant
            <% else %>
            &nbsp;&nbsp;<%= Restaurant.find_by( {:placeid => result["place_id"]}).fans.count %> people have pinned this restaurant
            <% end %>
          </div>
        </p>

        <p>
          <div>
            <% if Restaurant.find_by( {:placeid => result["place_id"]}) == nil %>
            <br>
            <% else %>
            <ul class="nav nav-pills">
              <% Restaurant.find_by( {:placeid => result["place_id"]}).fans.each do |fan| %>
              <li><a href="/users/<%= fan.id %>"><%= fan.username %></a><li>
                <% end %>
                <ul>
                  <% end %>
                </div>
              </p>

            </div>
            <% if current_user.favourite_restaurants.find_by({:placeid => result["place_id"]}) == nil %>
            <form action="/create_restaurant" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
              <input type="hidden" id="name" name="name" value="<%= result["name"] %>">
              <input type="hidden" id="price_level" name="price_level" value="<%= result["price_level"] %>">
              <input type="hidden" id="rating" name="rating" value="<%= result["rating"] %>">
              <input type="hidden" id="latitude" name="latitude" value="<%= result["geometry"]["location"]["lat"] %>">
              <input type="hidden" id="longitude" name="longitude" value="<%= result["geometry"]["location"]["lng"] %>">
              <% if result["photos"] == nil %>
              <input type="hidden" id="photo_reference" name="photo_reference" value="missing">
              <% else %>
              <input type="hidden" id="photo_reference" name="photo_reference" value="<%= result["photos"][0]["photo_reference"] %>">
              <% end %>
              <input type="hidden" id="placeid" name="placeid" value="<%= result["place_id"] %>">

              <div class="form-group">
                <button class="btn btn-primary btn-block">
                  Pin
                </button>
              </div>
            </form>
            <% else %>
            <div class="form-group">
              <a href="/delete_favorite/<%= current_user.favourite_restaurants.find_by({:placeid => result["place_id"]}).favorites.find_by(:user_id => current_user.id).id %>" class="btn btn-danger btn-block" style="background:#828282">Unpin</a>
            </div>
            <% end %>

          </div>
        </div>
      </div>


      <% end %>

    </div>
