<head>
<style>
.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#000000;
  padding:0;
  text-decoration:none;
  font-family:inherit;
  font-size:inherit;
}
.btn-link:hover{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#000000;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}
.profile-pic-parent {
  width: 145px;
}

.profile-pic-container {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 0 0 0 0;
}

.profile-pic-container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

</style>
</head>


<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <div class="jumbotron">

      <div class="row">


        <div class="col-md-10">
          <h3>
            <% if @user.leaders.count == 0 %>
              Not following anyone
              <% elsif @user.leaders.count == 1 %>
              Following 1 person
              <% else %>
              Following <%= @user.leaders.count %> people
              <% end %>
          </h3>

          <div class="row">
            <div class="col-md-10">
              <p><small><%= @user.first_name %> <%= @user.last_name %> | <%= @user.location %></small></p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>



<div class="container">

  <br>

  <% @user.timeline_favorites.reverse.each do |favorite| %>

  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="/users/<%= favorite.user.id %>"><%= favorite.user.username %></a> pinned <a href="/restaurants/<%= favorite.restaurant.id %>"><%= favorite.restaurant.name %></a>
            <small style="color:#828282"><%= time_ago_in_words(favorite.restaurant.created_at) %> ago</small>
          </h3>
        </form>
      </div>

      <div class="panel-body">
        <% if favorite.restaurant.photo_url == nil %>
        <div class="well well-sm">Image not available</div>
        <% else  %>
        <a href="/restaurants/<%= favorite.restaurant.id %>">
          <img src="<%= favorite.restaurant.photo_url %>" class="img-responsive">
        </a>
        <% end %>
        <p>
          <div class="form control">
            <% if favorite.restaurant.fans.count == 0 %>
            <i class="fa fa-heart-o"></i>
            <% elsif favorite.restaurant.fans.count == 1 %>
            <i class="fa fa-heart"></i>
            <% elsif favorite.restaurant.fans.count == 2 %>
            <i class="fa fa-heart"></i> <i class="fa fa-heart"></i>
            <% elsif favorite.restaurant.fans.count == 3 %>
            <i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i>
            <% else %>
            <i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-plus"></i>
            <% end %>

            <% if favorite.restaurant.fans.count == 0 %>
            &nbsp;&nbsp;Nobody has pinned this restaurant yet
            <% elsif favorite.restaurant.fans.count == 1 %>
            &nbsp;&nbsp;1 person has pinned this restaurant
            <% else %>
            &nbsp;&nbsp;<%= favorite.restaurant.fans.count %> people have pinned this restaurant
            <% end %>
          </div>
        </p>

        <p>
          <div>
            <% if favorite.restaurant.fans.count == 0 %>
            <br>
            <% else %>
            <ul class="nav nav-pills">
              <% favorite.restaurant.fans.each do |fan| %>
              <li><a href="/users/<%= fan.id %>"><%= fan.username %></a><li>
                <% end %>
                <ul>
                  <% end %>
                </div>
              </p>

            </div>

            <% if current_user.favorites.find_by({:restaurant_id => favorite.restaurant_id}) == nil %>
            <form action="/create_favorite" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
              <input type="hidden" id="restaurant_id" name="restaurant_id" value="<%= favorite.restaurant_id %>">
              <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">

              <div class="form-group">
                <button class="btn btn-primary btn-block">
                  Pin
                </button>
              </div>
            </form>
            <% else %>
            <div class="form-group">
              <a href="/delete_favorite/<%= current_user.favorites.find_by({:restaurant_id => favorite.restaurant_id}).id %>" class="btn btn-danger btn-block" style="background:#828282">Unpin</a>
            </div>
            <% end %>

          </div>
        </div>
      </div>


      <% end %>

    </div>
