<head>
<style>

.profile-pic-parent {
  width: 600;
}

.profile-pic-container {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 0 0 0 0;
}

.profile-pic-container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

</style>
</head>


<div class="col-md-12 col-md-offset-0">
  <div class="jumbotron">

    <div class="row">
      <div class="col-md-10">
        <h3>
          <%= @restaurant.name %>
        </h3>

        <div class="row">
          <div class="col-md-10">
            <p><small><%= @restaurant.address %></small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <small><%= @restaurant.phone_number %>&nbsp; | &nbsp;<a href="<%= @restaurant.url %>">Website</a></small>
      </div>
    </div>
  </div>

  <div class="jumbotron" style="background: white">
    <div class="row">
      <% if @restaurant.photo_url.present? %>
      <div class="col-md-7">
        <div class="profile-pic-parent">
          <div class="profile-pic-container">
            <img src="<%= @restaurant.photo_url %>" class="img-responsive">
          </div>
        </div>
      </div>
      <% end %>

      <div class="col-md-5">
        <br>
        <% if @restaurant.price_level == nil %>
        <% else %>
        <p class="lead">
          Price level: <%= @restaurant.price_level %>
        </p>
        <% end %>

        <% if @restaurant.rating == nil %>
        <% else %>
        <p class="lead">
          Rating: <%= @restaurant.rating %>
        </p>
        <% end %>

        <% if @restaurant.opening_hours == nil %>
        <% else %>
        <p class="lead">
          Hours:
          <% @restaurant.opening_hours.each do |day|  %>
          <li><%= day %></li>
          <% end %>
        </p>
        <% end %>

        <div class="col-md-7">
          <br>
          <form action="/update_restaurant/<%= @restaurant.id %>" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <button class="btn btn-primary btn-block">
              Update
            </button>
          </form>
          Last updated <%= time_ago_in_words(@restaurant.updated_at) %> ago
        </div>
        </div>
      </div>
    </div>


  </div>
</div>
</div>

<div id="map-canvas" style="width: 100%; height: 500px"></div>
